Repository star-bnl/star-sw, changes with the owners that .github/CODEOWNERS names for each.
All owners: @plexoos, @nigmatkulov, @kehw, @dmarkh, @akioogawa, @ullrich-bnl, @ZaochenYe, @fgeurts, @starsdong, @klendathu2k, @fisyak, @PhilippWeidenkaff, @ideppner, @perevbnlgov, @zlchang, @veprbl, @marrbnl, @jdbrice, @kkauder

Do not "recover" StEmcCollection in StPicoDstMaker
  StRoot/StPicoDstMaker/StPicoDstMaker.cxx
Owners: @nigmatkulov, @marrbnl, @plexoos

Freeze
  macros/MakeTpcZCorrection.C
Owners: @plexoos, @nigmatkulov

TFG21g
  TFG_Releases
Owners: @plexoos, @nigmatkulov

TFG21g
  TFG_Releases
Owners: @plexoos, @nigmatkulov

Update
  bin/RunXXIDefs.pm
Owners: @plexoos, @nigmatkulov

Relax cut on dE/dx error from 0.12 => 0.25
  StRoot/StKFParticleAnalysisMaker/StKFParticleInterface.cxx
Owners: @plexoos, @nigmatkulov

Merge
  StRoot/StFcsFastSimulatorMaker/macro/README.DATA
  StRoot/StFcsFastSimulatorMaker/macro/README.MC
  StRoot/StFcsFastSimulatorMaker/macro/db.C
  StRoot/StFcsFastSimulatorMaker/macro/fcs.kumac
  StRoot/StFcsFastSimulatorMaker/macro/mergepythia.pl
  StRoot/StFcsFastSimulatorMaker/macro/mergesim.pl
  StRoot/StFcsFastSimulatorMaker/macro/runBfc.C
  StRoot/StFcsFastSimulatorMaker/macro/runEvent.C
  StRoot/StFcsFastSimulatorMaker/macro/runPythia.C
  StRoot/StFcsFastSimulatorMaker/macro/runSimBfc.C
  StRoot/StFcsFastSimulatorMaker/macro/runSimFlat.C
  StRoot/StFcsFastSimulatorMaker/macro/running200.pl
  StRoot/StFcsFastSimulatorMaker/macro/runpythia
  StRoot/StFcsFastSimulatorMaker/macro/runsim
  StRoot/StFcsFastSimulatorMaker/macro/submitpythia.pl
  StRoot/StFcsFastSimulatorMaker/macro/submitsim.pl
Owners: @akioogawa

switch to TFG21g
  bin/JobSubmit_3p85GeV_fixedTarget_2021.csh
Owners: @plexoos, @nigmatkulov

Update
  bin/RunXXIDefs.pm
Owners: @plexoos, @nigmatkulov

Merge
  StarDb/Calibrations/tpc/TpcLengthCorrectionMDF.20210129.000054.C
  StarDb/Calibrations/tpc/TpcLengthCorrectionMDF.20210501.160053.C
  StarDb/Calibrations/tpc/TpcPadCorrectionMDF.20210129.000053.C
  StarDb/Calibrations/tpc/TpcPadCorrectionMDF.20210501.160053.C
  StarDb/Calibrations/tpc/TpcSecRowB.20210129.000054.root
  StarDb/Calibrations/tpc/TpcSecRowB.20210501.160056.root
  StarDb/Calibrations/tpc/TpcSecRowC.C
  StarDb/Calibrations/tpc/TpcSecRowC.y2018.C
  StarDb/Calibrations/tpc/TpcSecRowC.y2019.C
  StarDb/Calibrations/tpc/TpcZCorrectionB.20210129.000053.C
  StarDb/Calibrations/tpc/TpcZCorrectionB.20210501.160053.C
  StarDb/Calibrations/tpc/TpcdXdY.20210129.000051.C
  StarDb/Calibrations/tpc/TpcdZdY.20210129.000051.C
  TFG_Releases
  bin/#rsynchPico.csh#
  bin/CreateRunXXILinks.pl
  bin/Index of :lcgpackages:tarFiles:sources.html
  bin/JobSubmit_17p3GeV_2021.csh
  bin/JobSubmit_3p85GeV_fixedTarget_2021.csh
  bin/MakeTpcSecRow.csh
  bin/MakedEdx.pl
  bin/PicoL.pl
  bin/ReduceDaq.pl
  bin/ReduceEvent.pl
  bin/ReduceMuDst.pl
  bin/RunXXIDefs.pm
  bin/fit.pl
  bin/hadd.pl
  bin/rsynchPico.csh
  macros/MakeTpcZCorrection.C
Owners: @dmarkh, @perevbnlgov, @plexoos, @nigmatkulov

clean up
  StarDb/Calibrations/tpc/TpcLengthCorrectionMDF.20210129.000054.C
  StarDb/Calibrations/tpc/TpcLengthCorrectionMDF.20210501.160053.C
  StarDb/Calibrations/tpc/TpcPadCorrectionMDF.20210129.000053.C
  StarDb/Calibrations/tpc/TpcPadCorrectionMDF.20210501.160053.C
  StarDb/Calibrations/tpc/TpcSecRowB.20210129.000054.root
  StarDb/Calibrations/tpc/TpcSecRowB.20210501.160056.root
  StarDb/Calibrations/tpc/TpcSecRowC.C
  StarDb/Calibrations/tpc/TpcSecRowC.y2018.C
  StarDb/Calibrations/tpc/TpcSecRowC.y2019.C
  StarDb/Calibrations/tpc/TpcZCorrectionB.20210129.000053.C
  StarDb/Calibrations/tpc/TpcZCorrectionB.20210501.160053.C
  StarDb/Calibrations/tpc/TpcdXdY.20210129.000051.C
  StarDb/Calibrations/tpc/TpcdZdY.20210129.000051.C
Owners: @dmarkh, @perevbnlgov

.github/CODEOWNERS:

*                            @plexoos     @nigmatkulov
/OnlTools                    @kehw @plexoos
/StDb                        @dmarkh @plexoos
/StRoot/RTS                  @kehw @akioogawa
/StRoot/StAnalysisMaker      @ullrich-bnl
/StRoot/StAssociationMaker   @ullrich-bnl
/StRoot/StBTof*              @ZaochenYe     @fgeurts     @starsdong
/StRoot/StChain              @ullrich-bnl @klendathu2k
/StRoot/StDaqLib/TOF         @ZaochenYe     @fgeurts     @starsdong
/StRoot/StDaqLib/TRG         @akioogawa
/StRoot/StDb*                @dmarkh @plexoos
/StRoot/StDbUtilities        @fisyak @plexoos
/StRoot/StDetectorDbMaker    @dmarkh      @fisyak @plexoos
/StRoot/StETof*              @PhilippWeidenkaff   @ideppner
/StRoot/StEvent*             @klendathu2k @ullrich-bnl
/StRoot/StFcs*               @akioogawa
/StRoot/StFms*               @akioogawa
/StRoot/StGenericVertexMaker @plexoos     @perevbnlgov
/StRoot/StHeavyPool          @starsdong   @ullrich-bnl @fgeurts
/StRoot/StHighPtTagsMaker    @ullrich-bnl
/StRoot/StJetFinder          @zlchang     @veprbl
/StRoot/StJetMaker           @zlchang     @veprbl
/StRoot/StMiniDstMaker       @ullrich-bnl
/StRoot/StMtd*               @marrbnl
/StRoot/StMuDSTMaker         @jdbrice
/StRoot/StMuDSTMaker/EMC     @kkauder
/StRoot/StMuDSTMaker/RICHTOF @fgeurts     @starsdong
/StRoot/StPico*              @nigmatkulov @marrbnl @plexoos
/StRoot/StRefMultCorr        @nigmatkulov
/StRoot/StSpectraTagsMaker   @ullrich-bnl
/StRoot/StSpinPool           @akioogawa   @zlchang     @veprbl
/StRoot/StTof*               @jdbrice     @fgeurts     @starsdong
/StRoot/StTriggerDataMaker   @akioogawa
/StRoot/StTriggerUtilities   @zlchang
/StRoot/StVpd*               @ZaochenYe     @fgeurts
/StRoot/St_db_Maker          @dmarkh @plexoos @perevbnlgov
/StRoot/StarClassLibrary     @ullrich-bnl @klendathu2k
/StRoot/StarGenerator        @klendathu2k @perevbnlgov
/StRoot/Sti*                 @klendathu2k @plexoos     @starsdong @perevbnlgov
/StRoot/StppSpin             @ullrich-bnl
/StRoot/TPCCATracker         @fisyak      @kehw
/StRoot/macros               @ullrich-bnl
/StRoot/macros/mudst         @nigmatkulov
/StarDb                      @dmarkh      @perevbnlgov
/StarDb/Calibrations/tof     @ZaochenYe     @fgeurts
/pams                        @fgeurts     @klendathu2k
/pams/tables                 @dmarkh @plexoos
