Repository star-bnl/star-sw, changes with the owners that .github/CODEOWNERS names for each.
All owners: @plexoos, @nigmatkulov, @kehw, @dmarkh, @ullrich-bnl, @ZaochenYe, @fgeurts, @starsdong, @klendathu2k, @fisyak, @PhilippWeidenkaff, @ideppner, @perevbnlgov, @zlchang, @veprbl, @marrbnl, @jdbrice, @kkauder, @akioogawa

Create .gitignore
  .gitignore
Owners: @plexoos, @nigmatkulov

Update
  bin/RunXXIDefs.pm
Owners: @plexoos, @nigmatkulov

Update
  bin/RunXXIDefs.pm
Owners: @plexoos, @nigmatkulov

Update
  bin/RunXXIDefs.pm
Owners: @plexoos, @nigmatkulov

Update
  bin/RunXXIDefs.pm
Owners: @plexoos, @nigmatkulov

Tonko added TONKO_TRASH
  StRoot/RTS/src/TONKO_TRASH/yada.txt
Owners: @kehw

Modified yada
  StRoot/RTS/src/TONKO_TRASH/yada.txt
Owners: @kehw

moew
  StRoot/RTS/src/TONKO_TRASH/yada.txt
Owners: @kehw

updated yada
  StRoot/RTS/src/TONKO_TRASH/yada.txt
Owners: @kehw

more
  StRoot/RTS/src/TONKO_TRASH/yada.txt
Owners: @kehw

More tests
  StRoot/RTS/src/DAQ_FCS/daq_fcs.cxx
Owners: @kehw

Several new data members and related functions to enable VPD-related improvements in StBTofCalibMaker and StVpdCalibMaker - done by Bassam Aboona (TAMU)
  StRoot/StEvent/StBTofHeader.cxx
  StRoot/StEvent/StBTofHeader.h
Owners: @klendathu2k, @ullrich-bnl

Updates to improve pp and pA handling - by Bassam Aboona (TAMU)
  StRoot/StBTofCalibMaker/StBTofCalibMaker.cxx
  StRoot/StBTofCalibMaker/StBTofCalibMaker.h
Owners: @ZaochenYe, @fgeurts, @starsdong

.github/CODEOWNERS:

*                            @plexoos     @nigmatkulov
/OnlTools                    @kehw
/StDb                        @dmarkh
/StRoot/RTS                  @kehw
/StRoot/StAnalysisMaker      @ullrich-bnl
/StRoot/StAssociationMaker   @ullrich-bnl
/StRoot/StBTof*              @ZaochenYe     @fgeurts     @starsdong
/StRoot/StChain              @ullrich-bnl @klendathu2k
/StRoot/StDaqLib/TOF         @ZaochenYe     @fgeurts     @starsdong
/StRoot/StDb*                @dmarkh
/StRoot/StDbUtilities        @fisyak
/StRoot/StDetectorDbMaker    @dmarkh      @fisyak
/StRoot/StETof*              @PhilippWeidenkaff   @ideppner
/StRoot/StEvent*             @klendathu2k @ullrich-bnl
/StRoot/StGenericVertexMaker @plexoos     @perevbnlgov
/StRoot/StHeavyPool          @starsdong   @ullrich-bnl @fgeurts
/StRoot/StHighPtTagsMaker    @ullrich-bnl
/StRoot/StJetFinder          @zlchang     @veprbl
/StRoot/StJetMaker           @zlchang     @veprbl
/StRoot/StMiniDstMaker       @ullrich-bnl
/StRoot/StMtd*               @marrbnl
/StRoot/StMuDSTMaker         @jdbrice
/StRoot/StMuDSTMaker/EMC     @kkauder
/StRoot/StMuDSTMaker/RICHTOF @fgeurts     @starsdong
/StRoot/StPico*              @nigmatkulov @marrbnl
/StRoot/StRefMultCorr        @nigmatkulov
/StRoot/StSpectraTagsMaker   @ullrich-bnl
/StRoot/StSpinPool           @akioogawa   @zlchang     @veprbl
/StRoot/StTof*               @jdbrice     @fgeurts     @starsdong
/StRoot/StTriggerUtilities   @zlchang
/StRoot/StVpd*               @ZaochenYe     @fgeurts
/StRoot/St_db_Maker          @dmarkh
/StRoot/StarClassLibrary     @ullrich-bnl @klendathu2k
/StRoot/StarGenerator        @klendathu2k @perevbnlgov
/StRoot/Sti*                 @klendathu2k @plexoos     @starsdong @perevbnlgov
/StRoot/StppSpin             @ullrich-bnl
/StRoot/TPCCATracker         @fisyak      @kehw
/StRoot/macros               @ullrich-bnl
/StRoot/macros/mudst         @nigmatkulov
/StarDb                      @dmarkh      @perevbnlgov
/StarDb/Calibrations/tof     @ZaochenYe     @fgeurts
/pams                        @fgeurts     @klendathu2k
/pams/tables                 @dmarkh
