Repository star-bnl/star-sw, changes with the owners that .github/CODEOWNERS names for each.
All owners: @plexoos, @nigmatkulov, @veprbl, @jml985, @dmarkh, @akioogawa, @fgeurts, @iraklic, @fisyak, @zsweger, @marrbnl, @tonko-lj, @genevb, @kkauder, @rkunnawa, @Navagyan, @klendathu2k, @ZaochenYe, @starsdong, @jdbrice, @perevbnlgov, @zlchang, @tinglin-physics, @PhilippWeidenkaff, @ideppner, @YannickSoehngen, @zhux97, @Femtoscopist, @sunxuhit, @yezhenyu2003, @techuan-huang, @JohnTheBlindMilkman, @DanielWielanek, @GuannanXie, @ggfdsa10

.github/CODEOWNERS:

*                                                  @plexoos           @nigmatkulov
.github/                                           @plexoos           @veprbl
/OnlTools                                          @plexoos           @jml985
/StDb                                              @dmarkh
/StDb/idl                                          @akioogawa         @dmarkh      @fgeurts     @iraklic     @fisyak
/StRoot/PWGTools				   @nigmatkulov	      @zsweger	   @marrbnl
/StRoot/RTS                                        @akioogawa         @jml985      @tonko-lj
/StRoot/StAnalysisMaker                            @fisyak
/StRoot/StAnalysisUtilities/StHistUtil*            @genevb
/StRoot/StAssociationMaker/EMC                     @kkauder           @rkunnawa    @Navagyan
/StRoot/StBFChain                                  @genevb            @plexoos     @klendathu2k @fisyak
/StRoot/StBichsel                                  @fisyak
/StRoot/StBTof*                                    @ZaochenYe         @fgeurts     @starsdong   @jdbrice
/StRoot/StBbcSimulationMaker                       @akioogawa
/StRoot/StChain                                    @klendathu2k       @perevbnlgov @fisyak
/StRoot/StDAQMaker                                 @perevbnlgov       @akioogawa
/StRoot/StDaqLib                                   @jml985
/StRoot/StDaqLib/EEMC                              @kkauder           @rkunnawa    @zlchang
/StRoot/StDaqLib/EMC                               @kkauder           @rkunnawa    @Navagyan
/StRoot/StDaqLib/FPD                               @akioogawa
/StRoot/StDaqLib/L3                                @jml985            @tonko-lj
/StRoot/StDaqLib/SC                                @genevb
/StRoot/StDaqLib/SSD                               @starsdong
/StRoot/StDaqLib/TOF                               @ZaochenYe         @fgeurts     @starsdong   @jdbrice
/StRoot/StDaqLib/TRG                               @akioogawa
/StRoot/StDataFilterMaker                          @genevb
/StRoot/StDb*                                      @dmarkh
/StRoot/StDbUtilities                              @fisyak
/StRoot/StDbUtilities/StMagUtilities*              @genevb
/StRoot/StDetectorDbMaker                          @dmarkh            @fisyak
/StRoot/StDetectorDbMaker/StDetectorDbBeamInfo*    @genevb
/StRoot/StDetectorDbMaker/StDetectorDbGridLeak*    @genevb
/StRoot/StDetectorDbMaker/StDetectorDbRichScalers* @genevb
/StRoot/StDetectorDbMaker/StDetectorDbSpaceCharge* @genevb
/StRoot/StDetectorDbMaker/StDetectorDbTpcOmegaTau* @genevb
/StRoot/StDetectorDbMaker/St_EbyET0*               @genevb
/StRoot/StDetectorDbMaker/St_TpcSpaceCharge*       @genevb
/StRoot/StDetectorDbMaker/St_spaceChargeCor*       @genevb
/StRoot/StDetectorDbMaker/St_tpcOmegaTau*          @genevb
/StRoot/StDetectorDbMaker/St_tpcSCGLC*             @genevb
/StRoot/StDetectorDbMaker/St_trigDetSums*          @genevb
/StRoot/StDetectorDbMaker/St_vertexSeed*           @genevb
/StRoot/StEEmc*                                    @kkauder           @rkunnawa    @zlchang
/StRoot/StEEmcSimulatorMaker                       @kkauder           @rkunnawa    @klendathu2k @zlchang
/StRoot/StEEmcUtil                                 @kkauder           @rkunnawa    @klendathu2k @tinglin-physics @zlchang
/StRoot/StEEmcPool                                 @tinglin-physics   @zlchang
/StRoot/StETof*                                    @PhilippWeidenkaff @ideppner    @YannickSoehngen
/StRoot/StEmc*                                     @kkauder           @rkunnawa    @Navagyan    @zlchang
/StRoot/StEmbeddingUtilities                       @zhux97
/StRoot/StEpd*					   @Femtoscopist
/StRoot/StEvent*                                   @klendathu2k
/StRoot/StEvent/StTpc*                             @fisyak
/StRoot/StEventUtilities/StEbyET0*                 @genevb
/StRoot/StEventUtilities/StRedoTracks*             @genevb
/StRoot/StEventUtilities/StuFixTopoMap*            @genevb
/StRoot/StEventUtilities/TwistPatch*               @genevb
/StRoot/StFcs*                                     @akioogawa         @jdbrice
/StRoot/StFms*                                     @akioogawa
/StRoot/StFpd*                                     @akioogawa
/StRoot/StFst*                                     @jdbrice           @sunxuhit    @yezhenyu2003   @techuan-huang
/StRoot/StFtt*                                     @jdbrice
/StRoot/StFwd*					   @jdbrice
/StRoot/StGenericVertexMaker                       @plexoos           @perevbnlgov @akioogawa   @klendathu2k @fisyak
/StRoot/StHbtMaker                                 @JohnTheBlindMilkman            @DanielWielanek
/StRoot/StHeavyPool                                @starsdong         @fgeurts
/StRoot/StIOMaker                                  @plexoos           @perevbnlgov
/StRoot/StIst*                                     @plexoos           @starsdong
/StRoot/StJetFinder                                @zlchang           @veprbl
/StRoot/StJetMaker                                 @zlchang           @veprbl
/StRoot/StLaser*                                   @fisyak
/StRoot/StMCFilter                                 @klendathu2k
/StRoot/StMagF                                     @fisyak
/StRoot/StMc*                                      @klendathu2k       @perevbnlgov
/StRoot/StMcAnalysisMaker                          @klendathu2k
/StRoot/StMcEvent*                                 @klendathu2k
/StRoot/StMiniMc*				   @klendathu2k	      @fisyak	   @zhux97
/StRoot/StMtd*                                     @marrbnl
/StRoot/StMuDSTMaker                               @jdbrice
/StRoot/StMuDSTMaker/EMC                           @kkauder           @rkunnawa    @Navagyan
/StRoot/StMuDSTMaker/RICHTOF                       @fgeurts           @starsdong
/StRoot/StPass0CalibMaker                          @genevb            @iraklic
/StRoot/StPico*                                    @nigmatkulov       @marrbnl     @plexoos
/StRoot/StPxl*                                     @starsdong         @GuannanXie
/StRoot/StRHICf*				   @ggfdsa10
/StRoot/StRTSClient                                @jml985            @tonko-lj
/StRoot/StShadowMaker                              @genevb
/StRoot/StSpinPool                                 @akioogawa         @zlchang     @veprbl
/StRoot/StSsd*                                     @starsdong         @plexoos
/StRoot/StSst*                                     @starsdong         @plexoos
/StRoot/StStarLogger                               @fisyak
/StRoot/StTableUtilities                           @fisyak
/StRoot/StTagsMaker                                @fisyak
/StRoot/StTof*                                     @jdbrice           @fgeurts     @starsdong
/StRoot/StTpc*                                     @fisyak
/StRoot/StTreeMaker                                @perevbnlgov
/StRoot/StTriggerDataMaker                         @akioogawa
/StRoot/StTriggerUtilities                         @zlchang           @akioogawa   @jml985
/StRoot/StTrsMaker                                 @fisyak            @iraklic
/StRoot/StUtilities/StMess*                        @genevb
/StRoot/StUtilities/StMultiH*                      @genevb
/StRoot/StVpd*                                     @ZaochenYe         @fgeurts
/StRoot/StXTrakMaker                               @perevbnlgov
/StRoot/St_QA_Maker                                @genevb
/StRoot/St_TLA_Maker                               @perevbnlgov
/StRoot/St_base*                                   @perevbnlgov       @fisyak
/StRoot/St_db_Maker                                @dmarkh            @perevbnlgov
/StRoot/St_geant_Maker                             @klendathu2k       @perevbnlgov @fisyak
/StRoot/St_geant_Maker/Embed                       @zhux97         
/StRoot/St_l3Clufi_Maker                           @jml985            @tonko-lj
/StRoot/St_l3t_Maker                               @jml985            @tonko-lj
/StRoot/St_tcl_Maker                               @fisyak           @iraklic
/StRoot/Star2Root                                  @perevbnlgov       @fisyak
/StRoot/StarClassLibrary                           @klendathu2k
/StRoot/StarGenerator                              @klendathu2k       @perevbnlgov
/StRoot/StarMagField                               @fisyak
/StRoot/StarRoot                                   @klendathu2k       @perevbnlgov @fisyak
/StRoot/StdEdx*                                    @fisyak
/StRoot/Sti*                                       @klendathu2k       @plexoos     @starsdong   @perevbnlgov @fisyak
/StRoot/Stl3*                                      @jml985            @tonko-lj
/StRoot/Stv*                                       @perevbnlgov
/StRoot/StvUtil                                    @klendathu2k       @perevbnlgov
/StRoot/TPCCATracker                               @fisyak
/StRoot/macros                                     @genevb            @plexoos     @fisyak
/StRoot/macros/embedding                           @zhux97
/StRoot/macros/mudst                               @nigmatkulov       @plexoos
/StarDb                                            @dmarkh            @perevbnlgov @fisyak
/StarDb/AgML*                                      @klendathu2k
/StarDb/AgiGeometry                                @klendathu2k
/StarDb/Calibrations                               @genevb
/StarDb/Calibrations/emc                           @kkauder           @rkunnawa    @Navagyan
/StarDb/Calibrations/tof                           @ZaochenYe         @fgeurts
/StarDb/Calibrations/tpc                           @fisyak            @iraklic
/StarDb/Calibrations/tracker                       @klendathu2k
/StarDb/Geometry                                   @genevb            @klendathu2k
/StarDb/Geometry/tpc                               @fisyak            @iraklic
/StarDb/VmcGeometry                                @klendathu2k
/StarDb/emc                                        @kkauder           @rkunnawa    @Navagyan
/StarVMC                                           @klendathu2k
/StarVMC/geant3                                    @fisyak
/StarVMC/Geometry                                  @klendathu2k
/StarVMC/GeoTestMaker                              @perevbnlgov
/StarVMC/minicern                                  @perevbnlgov
/StarVMC/StarAgml*                                 @klendathu2k
/StarVMC/StarBASE                                  @klendathu2k
/StarVMC/StarGeometry                              @klendathu2k
/StarVMC/StarVMCApplication                        @fisyak
/StarVMC/xgeometry                                 @klendathu2k
/mgr                                               @genevb            @klendathu2k @fisyak     @plexoos
/pams                                              @klendathu2k       @fisyak
/pams/sim                                          @akioogawa         @klendathu2k
/pams/tables                                       @dmarkh
/asps                                              @klendathu2k       @perevbnlgov

Add RHICf Run and Event number address in StRHICfDbMaker (#546)
  StRoot/StRHICfDbMaker/StRHICfDbMaker.cxx
  StRoot/StRHICfDbMaker/StRHICfDbMaker.h
Owners: @ggfdsa10

Add RHICf Run and Event number in StMuRHICfxxx
  StRoot/StMuDSTMaker/COMMON/StMuRHICfRawHit.cxx
  StRoot/StMuDSTMaker/COMMON/StMuRHICfRawHit.h
  StRoot/StMuDSTMaker/COMMON/StMuRHICfUtil.cxx
Owners: @jdbrice

add the description of RHICf run and event number
  StRoot/StMuDSTMaker/COMMON/StMuRHICfRawHit.h
Owners: @jdbrice

Small changes for energy sum scale testing and macro to run test on MuDst
  StRoot/StFcsWaveformFitMaker/StFcsWaveformFitMaker.cxx
  StRoot/StFcsWaveformFitMaker/macros/Plot6.cc
  StRoot/StFcsWaveformFitMaker/macros/testWff6MuDst.C
Owners: @akioogawa, @jdbrice

updates to fst/laser
  OnlTools/Jevp/StJevpBuilders/fstBuilder.cxx
  OnlTools/Jevp/StJevpBuilders/fstBuilder.h
  OnlTools/Jevp/StJevpBuilders/laserBuilder.cxx
  OnlTools/Jevp/StJevpBuilders/trgBuilder.cxx
Owners: @plexoos, @jml985

add set method in MatchMaker, fix HitMaker for masking counters
  StRoot/StETofHitMaker/StETofHitMaker.cxx
  StRoot/StETofMatchMaker/StETofMatchMaker.h
Owners: @PhilippWeidenkaff, @ideppner, @YannickSoehngen

update the version of ClassDef
  StRoot/StMuDSTMaker/COMMON/StMuRHICfRawHit.h
Owners: @jdbrice

Update StRoot/StETofHitMaker/StETofHitMaker.cxx
  StRoot/StETofHitMaker/StETofHitMaker.cxx
Owners: @PhilippWeidenkaff, @ideppner, @YannickSoehngen

Add RHICf Run and Event number in StMuRHICfxxx (#548)
  StRoot/StMuDSTMaker/COMMON/StMuRHICfRawHit.cxx
  StRoot/StMuDSTMaker/COMMON/StMuRHICfRawHit.h
  StRoot/StMuDSTMaker/COMMON/StMuRHICfUtil.cxx
Owners: @jdbrice

add the code line for saving RHICfRunNumber and RHICfEventNumber into RHICfCollection
  StRoot/StRHICfRawHitMaker/StRHICfRawHitMaker.cxx
Owners: @ggfdsa10

Update StRoot/StRHICfRawHitMaker/StRHICfRawHitMaker.cxx
  StRoot/StRHICfRawHitMaker/StRHICfRawHitMaker.cxx
Owners: @ggfdsa10

Add RHICfRun and Event number in StRHICfRawHitMaker (#551)
  StRoot/StRHICfRawHitMaker/StRHICfRawHitMaker.cxx
Owners: @ggfdsa10

Added FCS Dependencies in StAnaPar.h for eventual use with StJetMakers
  StRoot/StJetMaker/StAnaPars.h
Owners: @zlchang, @veprbl

Provided updates to existing StJetMaker2012 and StjMCMuDst Makers to include FCS energylist reconstruction and truth particle information using the .genEvent.root respectively.
  StRoot/StJetMaker/StJetMaker2012.cxx
  StRoot/StJetMaker/StJetMaker2012.h
  StRoot/StJetMaker/mudst/StjMCMuDst.cxx
  StRoot/StJetMaker/mudst/StjMCMuDst.h
Owners: @zlchang, @veprbl

Adding class for reconstructing FCS energylist which will be used along updated StJetMaker2012
  StRoot/StJetMaker/mudst/StjFCSMuDst.cxx
  StRoot/StJetMaker/mudst/StjFCSMuDst.h
  StRoot/StJetMaker/towers/StjFCS.cxx
  StRoot/StJetMaker/towers/StjFCS.h
Owners: @zlchang, @veprbl

Changed Vertex Z plotting range for Fix Target and Fix Target Monitor from (190,210) to (-190,-170) in l4Builder.cxx
  OnlTools/Jevp/StJevpBuilders/l4Builder.cxx
Owners: @plexoos, @jml985

Adding zdcKillerBit
  StRoot/StEvent/StTriggerData.cxx
  StRoot/StEvent/StTriggerData.h
  StRoot/StEvent/StTriggerData2022.cxx
  StRoot/StEvent/StTriggerData2022.h
Owners: @klendathu2k

Mask counters for production (#550)
  StRoot/StETofHitMaker/StETofHitMaker.cxx
  StRoot/StETofMatchMaker/StETofMatchMaker.h
Owners: @PhilippWeidenkaff, @ideppner, @YannickSoehngen

Added some more projection functions in StFcsDb
  StRoot/StFcsDbMaker/StFcsDb.cxx
  StRoot/StFcsDbMaker/StFcsDb.h
Owners: @akioogawa, @jdbrice

update to maxtac in vpd builder
  OnlTools/Jevp/StJevpBuilders/vpdBuilder.cxx
Owners: @plexoos, @jml985

Added RunJetFinder2012pro_fcs.C that makes use of FCS and truth particle information from StarGenerator
  StRoot/StJetMaker/macros/RunJetFinder2012pro_fcs.C
Owners: @zlchang, @veprbl

Addressed suggestion made by Zilong Chang in StJetMaker2012.cxx, StjFCSMuDst.h/cxx. Have yet to add mstu delimeters from StarGenEvent in StjMCMuDst.cxx.
  StRoot/StJetMaker/StJetMaker2012.cxx
  StRoot/StJetMaker/macros/RunJetFinder2012pro_fcs.C
  StRoot/StJetMaker/mudst/StjFCSMuDst.cxx
  StRoot/StJetMaker/mudst/StjFCSMuDst.h
  StRoot/StJetMaker/mudst/StjMCMuDst.cxx
Owners: @zlchang, @veprbl

Small additions to StFcsWaveformFitMaker and some macros for test level 6 (#549)
  StRoot/StFcsWaveformFitMaker/StFcsWaveformFitMaker.cxx
  StRoot/StFcsWaveformFitMaker/StFcsWaveformFitMaker.h
  StRoot/StFcsWaveformFitMaker/macros/Plot6.cc
  StRoot/StFcsWaveformFitMaker/macros/testWff6MuDst.C
Owners: @akioogawa, @jdbrice

DAQ reader updates for DAQ5k
  StRoot/RTS/src/DAQ_BSMD/daq_bsmd.cxx
  StRoot/RTS/src/DAQ_FCS/fcs_data_c.cxx
  StRoot/RTS/src/DAQ_ITPC/itpcInterpreter.cxx
  StRoot/RTS/src/DAQ_STGC/daq_stgc.cxx
  StRoot/RTS/src/DAQ_TPC23/itpc23.cxx
  StRoot/RTS/src/DAQ_TPC23/itpc23.h
  StRoot/RTS/src/DAQ_TPC23/tpc23_base.cxx
  StRoot/RTS/src/DAQ_TPC23/tpc23_base.h
  StRoot/RTS/src/DAQ_TPC23/tpx23.cxx
  StRoot/RTS/src/DAQ_TPC23/tpx23.h
  StRoot/RTS/src/DAQ_TPX/daq_tpx.cxx
  StRoot/RTS/src/DAQ_TPX/daq_tpx.h
  StRoot/RTS/src/DAQ_TPX/tpxPed.cxx
  StRoot/RTS/src/DAQ_TPX/tpxPed.h
  StRoot/RTS/trg/include/trgDataDefs_40.h
Owners: @akioogawa, @jml985, @tonko-lj

Update CHANGELOG for SL23d_0
  CHANGELOG.md
Owners: @plexoos, @nigmatkulov

Update CHANGELOG for SL23d_0 (#556)
  CHANGELOG.md
Owners: @plexoos, @nigmatkulov

Revert "Enable default STAR Spack environment (#496)"
  mgr/default.config
Owners: @genevb, @klendathu2k, @fisyak, @plexoos

update plots for time bin range and mult tb cut
  OnlTools/Jevp/StJevpBuilders/fttBuilder.cxx
  OnlTools/Jevp/StJevpBuilders/fttBuilder.h
Owners: @plexoos, @jml985

DAQ5k updates (#555)
  OnlTools/Jevp/StJevpBuilders/fttBuilder.cxx
  OnlTools/Jevp/StJevpBuilders/fttBuilder.h
  StRoot/RTS/src/DAQ_BSMD/daq_bsmd.cxx
  StRoot/RTS/src/DAQ_FCS/fcs_data_c.cxx
  StRoot/RTS/src/DAQ_ITPC/itpcInterpreter.cxx
  StRoot/RTS/src/DAQ_STGC/daq_stgc.cxx
  StRoot/RTS/src/DAQ_TPC23/itpc23.cxx
  StRoot/RTS/src/DAQ_TPC23/itpc23.h
  StRoot/RTS/src/DAQ_TPC23/tpc23_base.cxx
  StRoot/RTS/src/DAQ_TPC23/tpc23_base.h
  StRoot/RTS/src/DAQ_TPC23/tpx23.cxx
  StRoot/RTS/src/DAQ_TPC23/tpx23.h
  StRoot/RTS/src/DAQ_TPX/daq_tpx.cxx
  StRoot/RTS/src/DAQ_TPX/daq_tpx.h
  StRoot/RTS/src/DAQ_TPX/tpxPed.cxx
  StRoot/RTS/src/DAQ_TPX/tpxPed.h
  StRoot/RTS/trg/include/trgDataDefs_40.h
Owners: @plexoos, @jml985, @akioogawa, @tonko-lj

hotfix for broken event.root files in DEV with StFwdTracks (#537)
  StRoot/StEvent/StFwdTrack.h
Owners: @klendathu2k

Added ability to apply global rejection on only some observable. Default global rejection range changes from 5 to 10 SD.
  StRoot/PWGTools/BadRunQA/QA.py
Owners: @nigmatkulov, @zsweger, @marrbnl

Updated README
  StRoot/PWGTools/BadRunQA/README.md
Owners: @nigmatkulov, @zsweger, @marrbnl

Replacemet for PR# 523, 528, and 478. Activate tpcExtraGainCorrection… (#529)
  StDb/idl/tpcExtraGainCorrection.idl
  StRoot/StDetectorDbMaker/StDetectorDbChairs.cxx
  StRoot/StDetectorDbMaker/StDetectorDbMaker.h
  StRoot/StDetectorDbMaker/St_TpcAvgPowerSupplyC.h
  StRoot/StDetectorDbMaker/St_tpcAnodeHVC.h
  StRoot/StDetectorDbMaker/St_tpcAnodeHVavgC.h
  StRoot/StDetectorDbMaker/St_tpcExtraGainCorrectionC.h
  StRoot/StDetectorDbMaker/St_tpcRDOMasksC.h
  StRoot/StdEdxY2Maker/StdEdxY2Maker.cxx
  StarDb/Calibrations/tpc/tpcExtraGainCorrection.y2019.C
  StarDb/Calibrations/tpc/tpcExtraGainCorrection.y2020.C
  StarDb/Calibrations/tpc/tpcExtraGainCorrection.y2021.C
  StarDb/Calibrations/tpc/tpcExtraGainCorrection.y2022.C
  StarDb/Calibrations/tpc/tpcExtraGainCorrection.y2023.C
Owners: @akioogawa, @dmarkh, @fgeurts, @iraklic, @fisyak

fix fstBuilder for 9 timebins, and commit earlier changes to fttBuilder
  OnlTools/Jevp/StJevpBuilders/fstBuilder.cxx
  OnlTools/Jevp/StJevpBuilders/fstBuilder.h
  OnlTools/Jevp/StJevpBuilders/fttBuilder.cxx
  OnlTools/Jevp/StJevpBuilders/fttBuilder.h
Owners: @plexoos, @jml985

Added mstu72 and mstu73 variable in StarGenPPEvent.*
  StRoot/StarGenerator/EVENT/StarGenPPEvent.cxx
  StRoot/StarGenerator/EVENT/StarGenPPEvent.h
Owners: @klendathu2k, @perevbnlgov
